{% extends "layout.html" %} {% block content %}
    <!-- Groups -->
    <div class="container-fluid">
        <h1 class="text-center mb-3 mt-5 display-2">All groups</h1>
        <div class="row justify-content-center">
            {% for group in groups_list %}
                <div class="col-auto mb-3">
                    <div class="card text-center shadow mx-3 my-4" style="width: 17rem;">

                        <div class="card-header">
                            <h5>{{ group.name }}</h5>
                        </div>

                        <div class="card-body">
                            <!-- List of all the lights in that group -->
                            <ul class="list-group list-group-flush">
                                {% for light_name in group.lights.name %}
                                    <p class="list-group-item mx-5 my-1">{{light_name}}</p>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="card-footer mb-2" style="background: transparent; border-top: 0px;">
                            <a href="/group/{{ group.id }}" class="btn btn-primary shadow-lg">View</a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Lights -->
    <div class="container-fluid mt-4">
        <h1 class="text-center mb-3 mt-5 display-2">All lights</h1>
        <div class="row justify-content-center">
            {% for light in lights_list %}
                <div class="col-auto mb-3">
                    <div class="card text-center shadow mx-3 my-4" style="width: 17rem;">

                        <div class="card-header shadow-sm">
                            <h5>{{ light.name }}</h5>
                        </div>

                        <div class="card-body shadow-sm">
                            <!-- On/Off -->
                            {% if light.status == false %}
                                <form action="/light/{{ light.id }}/on" method="post">
                                    <button type="submit" value="Turn on" class="btn btn-secondary shadow">
                                        Turn on
                                    </button>
                                </form>
                            {% elif light.status == true %}
                                <form action="/light/{{ light.id }}/off" method="post">
                                    <button type="submit" value="Turn off" class="btn btn-primary shadow-sm">
                                        Turn off
                                    </button>
                                </form>
                            {% endif %}

                            <!-- Brightness -->
                            <form action="/light/{{ light.id }}/brightness" method="post">
                                <div class="form-group mt-3">
                                    <label for="brightness">Brightness</label>
                                    <input type="range" class="form-control" id="brightness" name="brightness" min="1" max="254"
                                        value="{{ light.brightness }}" />
                                </div>
                                <button type="submit" value="Set brightness" class="btn btn-secondary btn-sm mt-2">
                                    Set brightness
                                </button>
                            </form>

                            <!-- Color -->
                            <form action="/light/{{ light.id }}/color" method="post">
                                <div class="form-group mt-3">
                                    <label for="color">Color</label>
                                    <input type="color" class="form-control" id="color" name="color" value="#{{ light.hex }}" />
                                </div>
                                <button type="submit" value="Set color" class="btn btn-secondary btn-sm mt-2">
                                    Set color
                                </button>
                            </form>
                        </div>

                        <div class="card-footer text-muted">
                            <small>Id: {{ light.id }}</small>
                            <br />
                            <small>Reachable: {{ light.reachable }}</small>
                            <br />
                            <small>Colormode: {{ light.colormode }}</small>
                            <br />
                            <small>Type: {{ light.type }}</small>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}