{% extends "layout.html" %} {% block content %}
    <!-- Groups -->
    <div class="container-fluid">
        <h1 class="text-center mb-3 mt-5 display-1">All groups</h1>
        <div class="row justify-content-center">
            {% for group in groups_list %}
                <div class="col-auto mb-3">
                    <div class="card text-center shadow mx-3 my-4" style="width: 17rem;">

                        <div class="card-header shadow-sm">
                            <h5>{{ group.name }}</h5>
                            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-control-tab-{{group.id}}" data-bs-toggle="pill" data-bs-target="#pills-control-{{group.id}}" type="button" role="tab" aria-controls="pills-control-{{group.id}}" aria-selected="true">Control</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-info-tab-{{group.id}}" data-bs-toggle="pill" data-bs-target="#pills-info-{{group.id}}" type="button" role="tab" aria-controls="pills-info-{{group.id}}" aria-selected="false">Info</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-disabled-tab-{{group.id}}" data-bs-toggle="pill" data-bs-target="#pills-disabled-{{group.id}}" type="button" role="tab" aria-controls="pills-disabled-{{group.id}}" aria-selected="false" disabled>Scenes</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-disabled-tab-{{group.id}}" data-bs-toggle="pill" data-bs-target="#pills-disabled-{{group.id}}" type="button" role="tab" aria-controls="pills-disabled-{{group.id}}" aria-selected="false" disabled>Sensors</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-disabled-tab-{{group.id}}" data-bs-toggle="pill" data-bs-target="#pills-disabled-{{group.id}}" type="button" role="tab" aria-controls="pills-disabled-{{group.id}}" aria-selected="false" disabled>Edit</button>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body shadow-sm">
                            <div class="tab-content" id="pills-tabContent">

                                <!-- Control tab -->
                                <div class="tab-pane fade show active" id="pills-control-{{group.id}}" role="tabpanel" aria-labelledby="pills-control-tab-{{group.id}}" tabindex="0">
                                    <!-- On/Off -->
                                    {% if group.state['any_on'] == false %}
                                    <form action="/group/{{ group.id }}/on" method="post">
                                        <button type="submit" value="Turn all on" class="btn btn-secondary shadow">
                                            Turn all on
                                        </button>
                                    </form>
                                    {% elif group.state['any_on'] == true %}
                                        <form action="/group/{{ group.id }}/off" method="post">
                                            <button type="submit" value="Turn all off" class="btn btn-primary shadow-sm">
                                                Turn all off
                                            </button>
                                        </form>
                                    {% endif %}

                                    <!-- Brightness -->
                                    <form action="/group/{{ group.id }}/brightness" method="post">
                                        <div class="form-group mt-3">
                                            <label for="brightness"><h6>Brightness</h6></label>
                                            <input type="range" class="form-range" id="brightness" name="brightness" min="0" max="254" value="{{ group.average_brightness }}">
                                            <button type="submit" value="Set brightness" class="btn btn-secondary btn-sm">
                                                Set brightness
                                            </button>
                                        </div>
                                    </form>

                                    <!-- Color -->
                                    <form action="/group/{{ group.id }}/color" method="post">
                                        <div class="form-group mt-4">
                                            <label for="color"><h6>Color</h6></label>
                                            <input type="color" class="form-control" id="color" name="color" value="{{ group.state['color'] }}">
                                            <button type="submit" value="Set color" class="btn btn-secondary btn-sm mt-1">
                                                Set color
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <!-- Info tab -->
                                <div class="tab-pane fade" id="pills-info-{{group.id}}" role="tabpanel" aria-labelledby="pills-info-tab-{{group.id}}" tabindex="0">
                                    <p class="card-text">Group Id: {{ group.id }}</p>
                                    <hr>

                                    <!-- List of all the lights in that group -->
                                    <ul class="list-group list-group-flush">
                                        {% for light_name in group.lights.name %}
                                            <p class="list-group-item mx-5 my-1">{{light_name}}</p>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <!-- Disabled tab -->
                                <div class="tab-pane fade" id="pills-disabled-{{group.id}}" role="tabpanel" aria-labelledby="pills-disabled-tab-{{group.id}}" tabindex="0">
                                    ...
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-muted">
                            <a href="/group/{{ group.id }}" class="btn btn-primary shadow">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Lights -->
    <div class="container-fluid mt-4">
        <h1 class="text-center mb-3 mt-5 display-1">All lights</h1>
        <div class="row justify-content-center">
            {% for light in lights_list %}
                <div class="col-auto mb-3">
                    <div class="card text-center shadow mx-3 my-4" style="width: 17rem;">

                        <div class="card-header shadow-sm">
                            <h5>{{ light.name }}</h5>
                        </div>

                        <div class="card-body shadow-sm">
                            <!-- On/Off -->
                            {% if light.status == false %}
                                <form action="/light/{{ light.id }}/on" method="post">
                                    <button type="submit" value="Turn on" class="btn btn-secondary shadow">
                                        Turn on
                                    </button>
                                </form>
                            {% elif light.status == true %}
                                <form action="/light/{{ light.id }}/off" method="post">
                                    <button type="submit" value="Turn off" class="btn btn-primary shadow-sm">
                                        Turn off
                                    </button>
                                </form>
                            {% endif %}

                            <!-- Brightness -->
                            <form action="/light/{{ light.id }}/brightness" method="post">
                                <div class="form-group mt-4">
                                    <label for="brightness"><h6>Brightness</h6></label>
                                    <input type="range" class="form-range" id="brightness" name="brightness" min="0" max="254"
                                        value="{{ light.brightness }}" />
                                </div>
                                <button type="submit" value="Set brightness" class="btn btn-secondary btn-sm">
                                    Set brightness
                                </button>
                            </form>

                            <!-- Color -->
                            <form action="/light/{{ light.id }}/color" method="post">
                                <div class="form-group mt-4">
                                    <label for="color"><h6>Color</h6></label>
                                    <input type="color" class="form-control" id="color" name="color" value="#{{ light.hex }}" />
                                </div>
                                <button type="submit" value="Set color" class="btn btn-secondary btn-sm mt-1">
                                    Set color
                                </button>
                            </form>
                        </div>

                        <div class="card-footer text-muted">
                            <small>Id: {{ light.id }}</small>
                            <br />
                            <small>Reachable: {{ light.reachable }}</small>
                            <br />
                            <small>Colormode: {{ light.colormode }}</small>
                            <br />
                            <small>Type: {{ light.type }}</small>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}