{% extends "layout.html" %}
{% block content %}
    <div class="container-sm">
        <h1>Home</h1>
        <p>Hallo lezer! Momenteel werkt helaas nog niet alles, alles wat je ziet, op lege pagina's na, doet het wel!</p>
        <p>Het kan zijn dat de pagina <a href="{{ url_for('control_page') }}">control page</a> langer moet laden, gemiddeld duurt dit 5 seconden. Later word async toegevoegd om deze lang wachttijd op te lossen.</p>
        
        <h2 class="mt-5">Vaak gestelde vragen</h2>
        <h5>Ik heb geen hue bridge maar wil de control page wel bekijk, is dat mogelijk?</h5>
        <p>Jazeker! Ga naar de <a href="{{ url_for('settings') }}">instellingen</a> en selecteer bij "Change bridge" "example". Je kan nu de website bekijken zonder vervelende fouten te krijgen, je kan in deze modus helaas niks aanpassen.</p>

        <h5>De home pagina is in het Nederlands maar de rest in het Engels, hoe zit dat?</h5>
        <p>Momenteel word de site vooral in het engels gebouwd, behalve deze pagina. Later zullen we de mogelijkheid voor meerdere talen toevoegen.</p>

        <h5>Ik heb een idee voor de site, hoe kan ik dit doorgeven?</h5>
        <p>U kan het beste een issue aanmaken op <a href="https://github.com/woutvos/Hue-control-site/issues/new">Github</a>.</p>

        <h5>Ik heb een probleem met de site, hoe kan ik dit doorgeven?</h5>
        <p>Ook daarvoor kunt u een issue aanmaken op <a href="https://github.com/woutvos/Hue-control-site/issues/new">Github</a>.</p>

        <h3 class="mt-5">To Do</h3>
        <div class="list-group">
            <li class="list-group-item">Feedback na iets aanpassen</li>
            <li class="list-group-item">Error handling</li>
            <li class="list-group-item">Groep pagina</li>
            <li class="list-group-item">Filteren</li>
            <li class="list-group-item">Login en registreren functionaliteit</li>
            <li class="list-group-item">Flask session id</li>
            <li class="list-group-item">Async</li>
            <li class="list-group-item">Ajax</li>
            <li class="list-group-item">Meerdere talen</li>
            <li class="list-group-item">Footer</li>
            <li class="list-group-item">404 pagina</li>
            <li class="list-group-item">Features pagina</li>
            <li class="list-group-item">About pagina</li>
            <li class="list-group-item">Card gradient voor control page</li>
            <li class="list-group-item">Groepen</li>
            <li class="list-group-item">Disable card whe not reachable</li>
            <li class="list-group-item">Snelheid optimaliseren</li>
            <li class="list-group-item">Bridge info card</li>
            <li class="list-group-item">Tabs in the top of the control page for groups</li>
            <li class="list-group-item">Niet te veel reqeusts sturen naar discovery.meethue.com</li>
            <li class="list-group-item">Effecten</li>
            <li class="list-group-item">Schedules</li>
            <li class="list-group-item">Scenes</li>
            <li class="list-group-item">Sensors</li>
            <li class="list-group-item">Rules</li>
            <li class="list-group-item">Software update from settings</li>
        </div>

        <h3 class="mt-5">Momenteel mee bezig</h3>
        <div class="list-group">
            <li class="list-group-item">Groep pagina</li>
            <li class="list-group-item">Groepen</li>
        </div>

            <!-- Disabled item's-->
        <br>
        <h3 mt-4>Al gedaan</h3>
        <div class="list-group">
            <li class="list-group-item list-group-item-action">Home pagina</li>
            <li class="list-group-item list-group-item-action">Aan/uit</li>
            <li class="list-group-item list-group-item-action">Kleur</li>
            <li class="list-group-item list-group-item-action">Dimmen</li>
            <li class="list-group-item list-group-item-action">Loggen</li>
            <li class="list-group-item list-group-item-action">Instellingen</li>
            <li class="list-group-item list-group-item-action">Automatisch zoeken naar bridge</li>
            <li class="list-group-item list-group-item-action">Voorbeeld functionaliteit</li>
        </div>
    </div>
{% endblock content %}