{% extends "layout.html" %}
{% block content %}
    <div class="container-lg">
        <h1>Settings</h1>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Change bridge</button>
            <ul class="dropdown-menu">
                <div class="container">
                    {% for bridge in bridges_list %}
                        <li>
                            {% if current_bridge_ip == bridge.internalipaddress %}
                            <form action="/settings/bridge/{{ bridge.internalipaddress }}" method="POST">
                                <button type="submit" class="dropdown-item btn active" value="Bridge ip" class="btn btn-outline-primary">
                                    {{ bridge.internalipaddress }}
                                </button>
                            </form>
                            
                            {% else %}
                            <form action="/settings/bridge/{{ bridge.internalipaddress }}" method="POST">
                                <button type="submit" class="dropdown-item btn" value="Bridge ip" class="btn btn-outline-primary">
                                    {{ bridge.internalipaddress }}
                                </button>
                            </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>
{% endblock content %}