{% extends "layout.html" %}
{% block content %}
    <h1>Settings</h1>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            Dropdown button
            </button>
            <ul class="dropdown-menu">
                {% for bridge in bridges_list %}
                    <li>
                        <form action="/settings/bridge/{{ bridge.internalipaddress }}" method="POST">
                            <button type="submit" value="Bridge ip" class="btn btn-secondary btn-sm mt-2">
                                <a class="dropdown-item">{{ bridge.internalipaddress }}</a>
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}